<div class="h-100 w-100 d-flex align-items-center justify-content-center px-3 banner-section" [ngClass]="addClassBasedPosition()">
    <div class="d-flex overflow-hidden container-1 h-75 banner-image">
        <div class="w-50 position-relative overflow-hidden left">
            <img src="banner/arnab-khan.svg" alt="arnab-khan-banner" class="position-absolute h-100 w-100">
        </div>
        <div class="w-50 position-relative overflow-hidden right">
            <img src="banner/arnab-khan.svg" alt="arnab-khan-banner" class="position-absolute h-100 w-100">
        </div>
    </div>
</div>