.banner-section {

    .banner-image {
        perspective: 1000px;

        .left,
        .right {
            // background-image: repeating-radial-gradient(circle, red 20%, blue 40%);

            .image-wrap {
                img {
                    transform: scaleX(2);
                }
            }

            transition: transform 1s ease-out;
        }

        $gradientColor: rgb(252, 134, 134) 10%, rgb(106, 106, 253) 20%;

        .left {
            background-image: repeating-radial-gradient(circle at right, $gradientColor), ;

            .image-wrap {
                img {
                    transform-origin: left;
                }
            }

            transform-origin: left center;
        }

        .right {
            background-image: repeating-radial-gradient(circle at left, $gradientColor), ;

            .image-wrap {
                img {
                    transform-origin: right;
                }
            }

            transform-origin: right center;
        }
    }

    &.opened {
        .banner-image {

            .left,
            .right {
                transition: transform 2s ease-in;
            }

            .left {
                transform: rotateY(180deg);
            }

            .right {
                transform: rotateY(-180deg);
            }
        }
    }
}