<section
    class="d-flex align-items-center justify-content-center h-100 w-100 position-relative bg-dark about-me-section">
    <app-rising-lines-animation [scrollPercentage]="scrollPersentage"
        class="d-block position-absolute top-0 start-0 h-100 w-100">
    </app-rising-lines-animation>
    <div class="container-2 px-3 py-4 mx-auto d-flex mh-100 flex-column position-relative text-white">
        <h2 class="font-abrilfatface-400-22 flex-shrink-0 text-center">About Me</h2>
        <div class="flex-shrink-1 overflow-auto mt-4">
            <img src="banner/arnab-khan.webp" alt="Arnab Khan" class="float-start pe-4 pb-4 image">
            <p class="font-sevillana-400-20">
                I am a dedicated frontend web developer with over 2 years of experience, focusing on Angular to build
                dynamic, responsive, and user-friendly web applications. I enjoy creating scalable solutions and
                crafting interfaces that offer great user experiences on any device. I am always eager to learn and
                improve, staying updated with the latest trends in web development. Whether working alone or in a team,
                I aim to deliver high-quality work that truly makes a difference.
            </p>
        </div>
    </div>
</section>