<div class="position-relative min-vh-100 d-flex flex-column">
    <header class="position-sticky top-0 flex-shrink-0 z-index-1">
        <app-header></app-header>
    </header>
    <div class="flex-grow-1 d-flex">
        <div class="d-flex flex-column w-100">
            <div class="flex-grow-1">
                <router-outlet></router-outlet>
            </div>
            <footer class="flex-shrink-0 position-relative z-index-1">
                <app-footer></app-footer>
            </footer>
        </div>
        <nav class="d-none">
            <app-side-nav></app-side-nav>
        </nav>
    </div>
</div>